

.layout-wrap {
    background-color: #c2d6d6;
}

#genreDropdown {
    margin-bottom: 32px;
}

#movieCollection {
    margin-left: 30px;
}

#homeParagraph {
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

#homeTitle {
    font-size: 50px;
}

md-card-content{
    background-color: #ffebe6;
}

md-card {
    width: 250px;
}

md-card-content {
    height: 250px;
}