

#genreDropdown {
    margin-bottom: 32px;
}

.genreCard {
    height: 120px;
}

#movieCollection {
    margin-left: 30px;
    font-family: 'Raleway', sans-serif;
}

#homeParagraph {
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

#homeTitle {
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
}

md-card-content{
    background-color: #d3d7d4;
}

md-card {
    width: 250px;
}

md-card-content {
    height: 250px;
}

#movieCollectionDiv {
    background-color: #40658c;
}