<md-content layout-gt-xs="row" layout-padding>
    <div>
        <md-input-container>
            <label>Add Genre</label>
            <input ng-model="newGenre.genre_name">
            <md-button class="md-primary md-raised" ng-click="vm.addGenre(newGenre)">Submit</md-button>
        </md-input-container>
    </div>
</md-content>


<div class="md-padding" class="md-block" layout-gt-xs="row">
    <md-card ng-repeat="genres in vm.genreList.list" class="md-block">
        <md-card-content class="genreCard">
            <p>Genre Name: {{genres.genre_name}}</p>
            <p>Total count: {{genres.count}}</p>
            <md-button class="md-raised md-warn" ng-click="vm.deleteGenre(genres)">Delete</md-button>
        </md-card-content>
    </md-card>
</div>